<div id="<%= dom_id headset %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= headset.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= headset.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= headset.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= headset.department %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= headset.desk_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= headset.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= headset.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= headset.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= headset.location %>
  </p>

</div>
