<div id="<%= dom_id zone_e %>">
  <p>
    <strong>Personel:</strong>
    <%= zone_e.personel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_e.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_e.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_e.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_e.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_e.furniture %>
  </p>

</div>
