<div id="<%= dom_id zone_n %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_n.personnel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_n.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_n.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_n.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_n.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_n.furniture %>
  </p>

</div>
