<div id="<%= dom_id zone_i %>">
  <p>
    <strong>Personel:</strong>
    <%= zone_i.personel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_i.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_i.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_i.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_i.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_i.furniture %>
  </p>

</div>
