<div id="<%= dom_id zone_r %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_r.personnel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_r.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_r.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_r.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_r.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_r.furniture %>
  </p>

</div>
