<div id="<%= dom_id display_monitor %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= display_monitor.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= display_monitor.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= display_monitor.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= display_monitor.department %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= display_monitor.desk_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= display_monitor.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= display_monitor.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= display_monitor.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= display_monitor.location %>
  </p>

</div>
