<div id="<%= dom_id zone_q %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_q.personnel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_q.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_q.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_q.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_q.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_q.furniture %>
  </p>

</div>
