<div id="<%= dom_id ip_phone %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= ip_phone.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= ip_phone.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= ip_phone.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= ip_phone.department %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= ip_phone.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= ip_phone.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= ip_phone.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ip_phone.location %>
  </p>

</div>
