<div id="<%= dom_id zone_j %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_j.Personnel %>
  </p>

  <p>
    <strong>Desk id:</strong>
    <%= zone_j.Desk_ID %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_j.Status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_j.LAN_Port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_j.Power_Socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_j.Furniture %>
  </p>

</div>
