<div id="<%= dom_id zone_m %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_m.Personnel %>
  </p>

  <p>
    <strong>Desk id:</strong>
    <%= zone_m.Desk_ID %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_m.Status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_m.LAN_Port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_m.Power_Socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_m.Furniture %>
  </p>

</div>
