<div id="<%= dom_id keyboard %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= keyboard.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= keyboard.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= keyboard.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= keyboard.department %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= keyboard.desk_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= keyboard.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= keyboard.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= keyboard.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= keyboard.location %>
  </p>

</div>
