<div id="<%= dom_id zone_l %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_l.Personnel %>
  </p>

  <p>
    <strong>Desk id:</strong>
    <%= zone_l.Desk_ID %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_l.Status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_l.LAN_Port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_l.Power_Socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_l.Furniture %>
  </p>

</div>
