<div id="<%= dom_id zone_d %>">
  <p>
    <strong>Personel:</strong>
    <%= zone_d.personel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_d.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_d.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_d.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_d.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_d.furniture %>
  </p>

</div>
