<%= form_with(model: aio) do |form| %>
  <% if aio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aio.errors.count, "error") %> prohibited this aio from being saved:</h2>

      <ul>
        <% aio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :manufacturer, style: "display: block" %>
    <%= form.text_field :manufacturer %>
  </div>

  <div>
    <%= form.label :brand_model, style: "display: block" %>
    <%= form.text_field :brand_model %>
  </div>

  <div>
    <%= form.label :zone, style: "display: block" %>
    <%= form.text_field :zone %>
  </div>

  <div>
    <%= form.label :department, style: "display: block" %>
    <%= form.text_field :department %>
  </div>

  <div>
    <%= form.label :desk_id, style: "display: block" %>
    <%= form.text_field :desk_id %>
  </div>

  <div>
    <%= form.label :condition, style: "display: block" %>
    <%= form.text_field :condition %>
  </div>

  <div>
    <%= form.label :asset_state, style: "display: block" %>
    <%= form.text_field :asset_state %>
  </div>

  <div>
    <%= form.label :serial_number, style: "display: block" %>
    <%= form.text_field :serial_number %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :ssd, style: "display: block" %>
    <%= form.text_field :ssd %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
