<div id="<%= dom_id data_center %>">
  <p>
    <strong>Device type:</strong>
    <%= data_center.device_type %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= data_center.brand_model %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= data_center.manufacturer %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= data_center.department %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= data_center.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= data_center.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= data_center.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= data_center.location %>
  </p>

</div>
