<div id="<%= dom_id zone_k %>">
  <p>
    <strong>Personnel:</strong>
    <%= zone_k.Personnel %>
  </p>

  <p>
    <strong>Desk id:</strong>
    <%= zone_k.Desk_ID %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_k.Status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_k.LAN_Port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_k.Power_Socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_k.Furniture %>
  </p>

</div>
