<div id="<%= dom_id printer %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= printer.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= printer.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= printer.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= printer.department %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= printer.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= printer.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= printer.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= printer.location %>
  </p>

</div>
