<div id="<%= dom_id laptop %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= laptop.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= laptop.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= laptop.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= laptop.department %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= laptop.desk_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= laptop.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= laptop.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= laptop.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= laptop.location %>
  </p>

</div>
