<div id="<%= dom_id access_point %>">
  <p>
    <strong>Ip phone:</strong>
    <%= access_point.IP_Phone %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= access_point.manufacturer %>
  </p>

  <p>
    <strong>Brand model:</strong>
    <%= access_point.brand_model %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= access_point.zone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= access_point.department %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= access_point.condition %>
  </p>

  <p>
    <strong>Asset state:</strong>
    <%= access_point.asset_state %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= access_point.serial_number %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= access_point.location %>
  </p>

</div>
