<p style="color: green"><%= notice %></p>

<%= render @access_point %>

<div>
  <%= link_to "Edit this access point", edit_access_point_path(@access_point) %> |
  <%= link_to "Back to access points", access_points_path %>

  <%= button_to "Destroy this access point", @access_point, method: :delete %>
</div>
