<div id="<%= dom_id zone_h %>">
  <p>
    <strong>Personel:</strong>
    <%= zone_h.personel %>
  </p>

  <p>
    <strong>Desk:</strong>
    <%= zone_h.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_h.status %>
  </p>

  <p>
    <strong>Lan port:</strong>
    <%= zone_h.lan_port %>
  </p>

  <p>
    <strong>Power socket:</strong>
    <%= zone_h.power_socket %>
  </p>

  <p>
    <strong>Furniture:</strong>
    <%= zone_h.furniture %>
  </p>

</div>
